<launch>
    <include file="$(find tinker_machine)/tinker.machine"/>
    <param name="serverNameOrIP" value="192.168.2.5" />
    <group ns="/head/kinect2">
        <param name="rgb_frame" value="/head/kinect2/rgb"/>
        <param name="depth_frame" value="/head/kinect2/depth"/>
        <param name="ir_frame" value="/head/kinect2/depth"/>
        
        <node machine="hyperv-linux" name="startRGB" pkg="k2_client" type="startRGB"/>
        <node machine="hyperv-linux" name="startDepth" pkg="k2_client" type="startDepth" output="screen"/>
        <node machine="hyperv-linux" name="startBody" pkg="k2_client" type="startBody" output="screen"/>
        <node machine="hyperv-linux" name="startFace" pkg="k2_client" type="startFace" output="screen"/>
    </group>
</launch>
